name: Deploy Paper

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    uses: Open-Scholar-Nexus/oaktree-sapling-config/.github/workflows/deploy-paper.yml@main
    with:
      base_url: /${{ github.event.repository.name }}
      # paper-environment-file: paper-environment.yml  # Optional: override if using different filename
